# Dependencies
/node_modules
/.pnpm-store

# Next.js build output & cache
/.next/
/out/
/build

# Production
/dist

# Debug & logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment variables
.env*.local
.env

# TypeScript
tsconfig.tsbuildinfo

# OS metadata
.DS_Store
*.pem
